REACT_APP_SUPABASE_URL=changeme
REACT_APP_SUPABASE_ANON_KEY=changeme
REACT_APP_GOOGLE_MAPS_API_KEY=changeme
REACT_APP_SERPAPI_KEY=changeme
OPENAI_API_KEY=changeme
SUPABASE_SERVICE_ROLE_KEY=changeme